.ck-root{
    .first-child {
        position: absolute;
        top: 106px;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 10px 20px;
        background-color: #fff;
        overflow: auto;
        transition: left .3s;
        &.open {
            left: 230px;
        }
    }
}
