.ck-root{
    .ck-main {
        position: absolute;
        top: 106px;
        left:0;
        right: 0;
        bottom: 0;
        .main-right-list {
            position: absolute;
            right: 10px;
            width: 220px;
            height: 200px;
            padding: 10px;
            background-color: #fff;
        }
    }
    .first-child {
        position: absolute;
        top: 0;
        right: 240px;
        left: 0;
        bottom: 0;
        padding: 10px 20px;
        background-color: #fff;
        overflow: auto;
        transition: left .3s;
        &.open {
            left: 240px;
        }
    }
}
