.ck-controls-main {
    .ck-formlist-main {
        span {
            display: inline-block;
            width: 100px;
            height: 40px;
            margin: 10px;
            text-align: center;
            line-height: 40px;
            background-color: #f5f5f5;
            cursor: move;
            box-sizing:border-box;
            -moz-box-sizing:border-box; /* Firefox */
            -webkit-box-sizing:border-box; /* Safari */
            border: 1px solid #f5f5f5;
            &:hover{
                border: 1px solid #8FCDF9;
            }
        }
    }
    .ele-move{
        position: absolute;
        cursor: move;
    }
}
