.ck-controls-main {
    .ck-controls {
        width:120px;
        position: absolute;
        left: 0;
        top:0;
        height: 100%;
        background-color: #f5f5f5;
        span {
            display: block;
            width: 100px;
            height: 40px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 40px;
            background-color: #fff;
            cursor: pointer;
        }
    }
    .controls-box {
        position: absolute;
        left:120px;
        top:0;
    }
}
